<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>Corona Tracking System</title>
	<meta name="description" content="Elmer is a Dashboard & Admin Site Responsive Template by hencework." />
	<meta name="keywords"
		content="admin, admin dashboard, admin template, cms, crm, Elmer Admin, Elmeradmin, premium admin templates, responsive admin, sass, panel, software, ui, visualization, web app, application" />
	<meta name="author" content="hencework" />

	<!-- Favicon -->
	<link rel="icon" href="dist/img/favicon.ico">
	<!-- <link rel="icon" href="dist/img/favicon.png" type="image/x-icon"> -->

	<!-- Data table CSS -->
	<link href="vendors/bower_components/datatables/media/css/jquery.dataTables.min.css" rel="stylesheet"
		type="text/css" />

	<link href="vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.css" rel="stylesheet"
		type="text/css">

	<!-- bootstrap-select CSS -->
	<link href="vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet"
		type="text/css" />

	<!-- Calendar CSS -->
	<link href="vendors/bower_components/fullcalendar/dist/fullcalendar.css" rel="stylesheet" type="text/css" />

	<!-- Custom CSS -->
	<link href="dist/css/style.css" rel="stylesheet" type="text/css">


</head>

<body>
	<!-- Preloader -->
	<div class="preloader-it">
		<div class="la-anim-1"></div>
	</div>
	<!-- /Preloader -->
	<div class="wrapper  theme-6-active pimary-color-blue">
		<!-- Top Menu Items -->
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="mobile-only-brand pull-left">
				<div class="nav-header pull-left">
					<div class="logo-wrap">
						<a href="index.html">
							<img class="brand-img" src="dist/img/logo.png" alt="brand" style="width: 22px;" />
							<span class="brand-text">Corona Tracker</span>
						</a>
					</div>
				</div>
				<a id="toggle_nav_btn" class="toggle-left-nav-btn inline-block ml-20 pull-left"
					href="javascript:void(0);"><i class="zmdi zmdi-menu"></i></a>
				<a id="toggle_mobile_search" data-toggle="collapse" data-target="#search_form" class="mobile-only-view"
					href="javascript:void(0);"><i class="zmdi zmdi-search"></i></a>
				<a id="toggle_mobile_nav" class="mobile-only-view" href="javascript:void(0);"><i
						class="zmdi zmdi-more"></i></a>
				<form id="search_form" role="search" class="top-nav-search collapse pull-left">
					<div class="input-group">
						<input type="text" name="example-input1-group2" class="form-control"
							placeholder="Ülke adını ingilizce yazın" style="text-transform: none!important;">
						<span class="input-group-btn">
							<button type="button" class="btn  btn-default" data-target="#search_form"
								data-toggle="collapse" aria-label="Close" aria-expanded="true"><i
									class="zmdi zmdi-search"></i></button>
						</span>
					</div>
				</form>
			</div>

		</nav>
		<!-- /Top Menu Items -->

		<!-- Left Sidebar Menu -->
		<div class="fixed-sidebar-left">
			<ul class="nav navbar-nav side-nav nicescroll-bar">
				<li class="navigation-header">
					<span>Menu</span>
					<i class="zmdi zmdi-more"></i>
				</li>
				<li>
					<a href="javascript:void(0);" data-toggle="collapse" data-target="#bilgi">
						<div class="pull-left"><img style="margin-right: 8px;" src="dist/img/who.png" alt="WHO Logo"
								width="20"><span class="right-nav-text">Covid-19 Information</span></div>
						<!-- <div class="pull-right"><span class="label label-primary">Güncel</span></div> -->
						<div class="clearfix"></div>
					</a>
					<ul id="bilgi" class="collapse collapse-level-1">
						<li>
							<a href="file:///C:/Users/YOGA/Desktop/coronavisualization/index.html#sss">Frequently Asked
                                Questions</a>
						</li>
						<li>
							<a href="file:///C:/Users/YOGA/Desktop/coronavisualization/index.html#NasilKorunuruz">How
                                Protect</a>
						</li>
						<li>
							<a href="file:///C:/Users/YOGA/Desktop/coronavisualization/index.html#NasilKorunuruz">Coronavirus
                                Superstitions</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="index.html">
						<div class="pull-left"><i class="zmdi zmdi-google-earth mr-10"></i><span
								class="right-nav-text">Worldwide Report</span></div>

						<div class="pull-right"><span class="label label-primary"></span></div>
						<div class="clearfix"></div>
					</a>
				</li>
				<li>
					<a href="file:///C:/Users/YOGA/Desktop/coronavisualization/turkey.html" data-toggle="collapse"
						data-target="#ecom_dr">
						<div class="pull-left "><img class="mr-10 mt-5"
								src="https://www.countryflags.io/MA/flat/16.png "><span class="right-nav-text">Moroccan
								Overall Report</span>
						</div>
						<!-- <div class="pull-right"><span class="label label-primary">Güncel</span></div> -->
						<div class="clearfix"></div>
					</a>

				</li>


			</ul>
		</div>



		<!----------------------------- ----------Main Content------------------------- -->

		<!---------------------------------------SSS ------------------------------------------>
		<div class="page-wrapper">
			<div class="row">
				<div class="container-fluid pt-25">


					<div class="col-lg-12" id="sss">
						<div class="panel panel-default card-view">
							<div class="panel-heading">
								<div class="pull-left col-md-6 col-s-12">
									<h6 class="panel-title inline-block txt-dark">Covid - 19 Frequently Asked Questions
										Questions</h6>
								</div>
								<div class="pull-right col-md-6 col-s-12">
									<span style="font-size: 12px;"
										class="pull-right label label-info capitalize-font inline-block ml-10">Source:
										T.C Health
										Ministry</span>
								</div>
								<div class="clearfix"></div>
							</div>

							<div class="panel-wrapper collapse in">
								<div class="panel-body">
									<div class="panel-group accordion-struct accordion-style-1" id="accordion_2"
										role="tablist" aria-multiselectable="true">
										<div class="panel panel-default">
											<div class="panel-heading activestate" role="tab" id="heading_10">
												<a role="button" data-toggle="collapse" data-parent="#accordion_2"
													href="#collapse_10" aria-expanded="true">
													<div class="icon-ac-wrap pr-20"><span class="plus-ac"><i
																class="ti-plus"></i></span><span class="minus-ac"><i
																class="ti-minus"></i></span></div>COVID-19 (Yeni
													Koronavirüs Hastalığı) Nedir?
												</a>
											</div>
											<div id="collapse_10" class="panel-collapse collapse in" role="tabpanel">
												<div class="panel-body pa-15 ">
													<p>
														Yeni Koronavirüs (COVID-19),
														ilk olarak
														Çin’in Vuhan Eyaleti’nde Aralık ayının sonlarında solunum yolu
														belirtileri (ateş, öksürük, nefes darlığı) gelişen bir grup
														hastada
														yapılan araştırmalar sonucunda 13 Ocak 2020’de tanımlanan bir
														virüstür. <br><br>

														Salgın başlangıçta bu bölgedeki deniz ürünleri ve hayvan
														pazarında
														bulunanlarda tespit edilmiştir. Daha sonra insandan insana
														bulaşarak
														Vuhan başta olmak üzere Hubei eyaletindeki diğer şehirlere ve
														Çin
														Halk Cumhuriyeti’nin diğer eyaletlerine ve diğer dünya
														ülkelerine
														yayılmıştır.<br><br>

														Coronavirüsler, hayvanlarda veya insanlarda hastalığa neden
														olabilecek büyük bir virüs ailesidir. İnsanlarda, birkaç
														koronavirüsün soğuk algınlığından Orta Doğu Solunum Sendromu
														(MERS)
														ve Şiddetli Akut Solunum Sendromu (SARS) gibi daha şiddetli
														hastalıklara kadar solunum yolu enfeksiyonlarına neden olduğu
														bilinmektedir. Koronavirüs hastalığına COVID-19 neden olur.
													</p>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading" role="tab" id="heading_11">
												<a class="collapsed" role="button" data-toggle="collapse"
													data-parent="#accordion_2" href="#collapse_11"
													aria-expanded="false">
													<div class="icon-ac-wrap pr-20"><span class="plus-ac"><i
																class="ti-plus"></i></span><span class="minus-ac"><i
																class="ti-minus"></i></span></div>Belirtileri Nelerdir?
												</a>
											</div>
											<div id="collapse_11" class="panel-collapse collapse" role="tabpanel">
												<div class="panel-body pa-15">
													<p>
														Belirtisiz olgular olabileceği
														bildirilmekle birlikte, bunların oranı bilinmemektedir. En çok
														karşılaşılan belirtiler ateş, öksürük ve nefes darlığıdır.
														Şiddetli
														olgularda zatürre, ağır solunum yetmezliği, böbrek yetmezliği ve
														ölüm gelişebilmektedir.
													</p>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading" role="tab" id="heading_12">
												<a class="collapsed" role="button" data-toggle="collapse"
													data-parent="#accordion_2" href="#collapse_12"
													aria-expanded="false">
													<div class="icon-ac-wrap pr-20"><span class="plus-ac"><i
																class="ti-plus"></i></span><span class="minus-ac"><i
																class="ti-minus"></i></span></div>Nasıl Bulaşır?
												</a>
											</div>
											<div id="collapse_12" class="panel-collapse collapse" role="tabpanel">
												<div class="panel-body pa-15">
													<p>
														Hasta bireylerin öksürmeleri aksırmaları
														ile ortama saçılan damlacıkların solunması ile bulaşır.
														Hastaların
														solunum parçacıkları ile kirlenmiş yüzeylere dokunulduktan sonra
														ellerin yıkanmadan yüz, göz, burun veya ağıza götürülmesi ile de
														virüs alınabilir. Kirli ellerle göz, burun veya ağıza temas
														etmek
														risklidir.
													</p>


												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading" role="tab" id="heading_13">
												<a class="collapsed" role="button" data-toggle="collapse"
													data-parent="#accordion_2" href="#collapse_13"
													aria-expanded="false">
													<div class="icon-ac-wrap pr-20"><span class="plus-ac"><i
																class="ti-plus"></i></span><span class="minus-ac"><i
																class="ti-minus"></i></span></div>Kimler Daha Fazla Risk
													Altında?
												</a>
											</div>
											<div id="collapse_13" class="panel-collapse collapse" role="tabpanel">
												<div class="panel-body pa-15">
													<p>
														COVİD-19 enfeksiyonu ile ilgili şimdiye
														kadar edinilen bilgiler, bazı insanların daha fazla hastalanma
														ve
														ciddi semptomlar geliştirme riski altında olduğunu göstermiştir.
													</p>
													<br>
													<ul style="list-style: outside;margin-left:22px;">
														<li>Vakaların yüzde 80'i hastalığı hafif geçirmektedir.</li>
														<li>Vakaların %20’si hastane koşullarında tedavi edilmektedir.
														</li>
														<li>Hastalık, genellikle 60 yaş ve üzerindeki kişileri daha
															fazla etkilemektedir.</li>
														<br>

													</ul>
													<strong>Hastalıktan En Çok Etkilenen Kişiler:</strong>
													<ul style="list-style: outside;margin-left:22px;">
														<li>60 yaş üstü olanlar</li>
														<li>Ciddi kronik tıbbi rahatsızlıkları olan insanlar: <ul
																style="list-style: inside;margin-left:22px;">
																<li>Kalp hastalığı</li>
																<li>Hipertansiyon</li>
																<li>Diyabet</li>
																<li>Kronik Solunum yolu hastalığı</li>
																<li>Kanser gibi</li>
															</ul>
														<li>Sağlık Çalışanları</li>
														</li>
													</ul>
													<br>
													<strong>Çocuklar Risk Altında Mı?</strong><br>
													<p>Çocuklarda hastalık nadir ve hafif görünmektedir.

														Çocuklarda şimdiye kadar ölüm görülmemiştir.</p>
													<br>
													<strong>Hamileler Risk Altında Mı?</strong><br>
													<p>COVID-19 enfeksiyonu gelişen gebe kadınlarda hastalığın ciddiyeti
														konusunda sınırlı bilimsel kanıt vardır. <br>

														Bununla birlikte mevcut kanıtlar COVID-19 enfeksiyonu sonrası
														hamile kadınlar arasındaki hastalık şiddetinin, hamile olmayan
														yetişkin COVID-19 vakalarına benzer olduğunu ve hamilelik
														sırasında COVID-19 ile enfeksiyonun fetüste olumsuz bir etkisi
														olduğunu gösteren hiçbir veri olmadığını göstermektedir. <br>

														Şu ana kadar COVID-19'un hamilelik sırasında anneden bebeğe
														bulaştığına dair de bir kanıt bulunmamaktadır.</p>
												</div>
											</div>
										</div>
										<div class="panel panel-default" id="NasilKorunuruz">
											<div class="panel-heading" role="tab" id="heading_14">
												<a class="collapsed" role="button" data-toggle="collapse"
													data-parent="#accordion_2" href="#collapse_14"
													aria-expanded="false">
													<div class="icon-ac-wrap pr-20"><span class="plus-ac"><i
																class="ti-plus"></i></span><span class="minus-ac"><i
																class="ti-minus"></i></span></div>Tanı Nasıl Konur?
												</a>
											</div>
											<div id="collapse_14" class="panel-collapse collapse" role="tabpanel">
												<div class="panel-body pa-15">
													<p>Yeni Koronavirüs tanısı için gerekli moleküler testler ülkemizde
														mevcuttur. Tanı testi sadece Halk Sağlığı Genel Müdürlüğü Ulusal
														Viroloji Referans Laboratuvarında ve belirlenmiş Halk Sağlığı
														Laboratuvarlarında yapılmaktadır.

													</p>


												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
					<!---------------------------------------Nasıl Korunacağız ------------------------------------------>

					<div class="row">
						<div class="container-fluid "></div>
						<div class="col-12 text-center pb-50">
							<h3 style="color:inherit">Nasıl Korunacağız?</h3>
						</div>

						<!---------------------------------------model 1 ------------------------------------------>
						<div class="col-md-4">
							<div class="panel panel-primary card-view">
								<div class="panel-heading">
									<div class="pull-left">
										<h6 class="panel-title txt-light">El temizliğine dikkat edin.</h6>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="panel-wrapper collapse in">
									<div class="panel-body">
										<div>
											<p> Virüsün en temel geçiş yolu ellerimiz olmasından dolayı el temizliği, en
												önemli
												hijyen kuralıdır. Ellerin sık sık ılık su ve sabunla yıkanması,
												tırnakların kısa ve temiz olması, bulaşıcı hastalıkların artmasını
												ve
												yayılmasını önlemenin en etkili yoludur.</p>
										</div>

										<!-- sample modal content -->
										<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
											aria-labelledby="myLargeModalLabel" aria-hidden="true"
											style="display: none;">
											<div class="modal-dialog modal-lg">
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal"
															aria-hidden="true">×</button>
														<h3 class="modal-title" id="myLargeModalLabel">Ellerimizi ne
															zaman ve nasıl yıkamalıyız?
														</h3>
													</div>
													<div class="modal-body">

														<div class="description mb-20">
															<p class="mb-20" style="text-indent: 12px;">
																Koronavirüsün yayılmasını
																azaltmak veya hastalıktan
																korunmak için en
																temel önlem, hijyen kurallarına uymaktır. Bunlardan
																en önemlisi, en
																kolayı ve en ekonomiği elleri yıkamaktır. Gözle
																görülmeyen
																mikroplara
																karşı korunmak için daima ellerimizi yıkamalıyız.
																Bakteri ve
																virüslerin
																en temel geçiş yolu ellerimiz olmasından dolayı el
																temizliği, en
																önemli
																hijyen kuralıdır. Ellerin sık sık ılık su ve sabunla
																yıkanması,
																tırnakların kısa ve temiz olması, bulaşıcı
																hastalıkların artmasını
																ve
																yayılmasını önlemenin en etkili yoludur.</p>
															<blockquote>
																<p>El hijyeninde en önemli husus, ellerin sık sık
																	yıkanması ve ağza,
																	yüze ve göze götürülmemesidir. El temizliğinde
																	sıvı ya da katı
																	sabunlarla -süresi 30 saniyenin altında olmamak
																	kaydı ile- ellerin
																	köpürtülerek yıkanması <span class="text-success">en
																		etkili
																		tedbirdir</span></p>
																<small>İç Hastalıkları Uzmanı<cite title="Source Title">
																		Dr. Ahmet
																		Yağcı</cite></small>
															</blockquote>
															<h6 style="text-transform: none; font-weight: 500;">
																Nasıl yıkamanız
																gerektiğini öğrenmek için videoyu
																izleyebilirsiniz:
															</h6>

														</div>
														<div class="embed-responsive embed-responsive-16by9">
															<!-- <iframe class="embed-responsive-item"
																	src="https://www.youtube.com/embed?v=NyoqQ3SYrmg"
																	allowfullscreen></iframe> -->
															<iframe class="embed-responsive-item"
																src="https://www.youtube.com/embed/NyoqQ3SYrmg"
																frameborder="0"
																allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
																allowfullscreen></iframe>
														</div>

														<p></p>
														<p></p>
													</div>
													<div class="modal-footer">
														<button type="button"
															class="btn btn-primary btn-outline text-left"
															data-dismiss="modal">Kapat</button>
													</div>
												</div>
												<!-- /.modal-content -->
											</div>
											<!-- /.modal-dialog -->
										</div>
										<!-- /.modal -->
										<!-- Button trigger modal -->
										<button class=" mt-10 btn btn-primary btn-outline pull-right "
											data-toggle="modal" data-target=".bs-example-modal-lg"> Detaylı Bilgi

										</button>
									</div>
								</div>
							</div>
						</div>

						<!---------------------------------------model 2 ------------------------------------------>

						<div class="col-md-4">
							<div class="panel panel-primary card-view">
								<div class="panel-heading">
									<div class="pull-left">
										<h6 class="panel-title txt-light">Sosyal Mesafeyi Koruyun.</h6>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="panel-wrapper collapse in">
									<div class="panel-body">
										<div>
											<p> Hasta kişilerden öksürük, hapşırık, gülme, konuşma sırasında çevreye
												saçılan virus içeren solunum salgısı damlacıkları, sağlam kişilerin
												mukozalarına temas ederek bu kişilerin hastalanmasına neden olur.
											</p>
											<br>
										</div> <!-- sample modal content -->
										<div class="modal fade bs-temas-modal-lg" tabindex="-1" role="dialog"
											aria-labelledby="myLargeModalLabel" aria-hidden="true"
											style="display: none;">
											<div class="modal-dialog modal-lg">
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal"
															aria-hidden="true">×</button>
														<h3 class="modal-title" id="myLargeModalLabel">
															'Sosyal mesafe' neden gerekli?
														</h3>
													</div>
													<div class="modal-body">

														<div class="description mb-20">
															<p class="mb-20" style="text-indent: 12px;">
																Sosyal mesafe, çok önemli bir önlem çünkü Covid-19
																hastalığına yol açan koronavirüs enfekte olmuş bir
																insan öksürdüğünde havaya saçılan virüs yüklü
																zerrecikler yoluyla yayılıyor.</p>
															<p class="mb-20" style="text-indent: 12px;">
																Virüsler bu zerreciklerle birlikte solunarak ya da
																düşüp yapıştıkları zeminleri elleyenlerin ellerini
																yıkamadan yüzlerine dokunmaları yoluyla başka
																insanları hasta edebiliyor.

																Dolayısıyla insanlar birbirleriyle ne kadar az zaman
																geçirir ne kadar mesafeli dururlar ise hastalığın
																yayılması şansını o kadar azaltmış oluyorlar.</p>
															<blockquote>
																<p>Şunu fark etmeliyiz ki birkaç ay önce
																	yaptıklarımızı artık yapamayız”. Buna göre
																	şimdi salgını hafifletmezsek “haftalar
																	kaybedeceğiz” ve iş işten geçmiş olacak.<span
																		class="text-success">Salgını
																		hafifletmenin yolu da sosyal mesafe
																		önlemlerinden geçiyor.</span></p>
																<small>Alerji ve Enfeksiyon Hastalıkları
																	Enstitüsü<cite title="Source Title"> | Anthony
																		Fauci</cite></small>
															</blockquote>
															<h6 style="text-transform: none; font-weight: 500;">
																Sosyal mesafenin önemini anlatan kısa bir animasyon:
															</h6>

														</div>
														<div class="embed-responsive embed-responsive-16by9">

															<iframe class="embed-responsive-item"
																src="https://www.youtube.com/embed/JDJhoAPxkE0"
																frameborder="0"
																allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
																allowfullscreen></iframe>
														</div>

														<p></p>
														<p></p>
													</div>
													<div class="modal-footer">
														<button type="button"
															class="btn btn-primary btn-outline text-left"
															data-dismiss="modal">Kapat</button>
													</div>
												</div>
												<!-- /.modal-content -->
											</div>
											<!-- /.modal-dialog -->
										</div>
										<!-- /.modal -->
										<!-- Button trigger modal -->
										<button class=" mt-10 btn btn-primary btn-outline pull-right "
											data-toggle="modal" data-target=".bs-temas-modal-lg"> Detaylı
											Bilgi

										</button>
									</div>
								</div>
							</div>
						</div>

						<!---------------------------Modal3  --------------------------------->
						<div class="col-md-4">
							<div class="panel panel-primary card-view">
								<div class="panel-heading">
									<div class="pull-left">
										<h6 class="panel-title txt-light">Maske Takın.</h6>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="panel-wrapper collapse in">
									<div class="panel-body">
										<div>
											<p>ABD’de yapılan bir araştırma koronavirüsün öksürükle 6 metre,
												hapşırıkla da 8 metre uzağa gidebildiği sonucuna vardı. Maske
												takmanın bu nedenle salgınla mücadelede en az sosyal mesafe kadar
												etkili olduğu belirtiliyor.
											</p>

										</div> <!-- sample modal content -->
										<div class="modal fade bs-maske-modal-lg" tabindex="-1" role="dialog"
											aria-labelledby="myLargeModalLabel" aria-hidden="true"
											style="display: none;">
											<div class="modal-dialog modal-lg">
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal"
															aria-hidden="true">×</button>
														<h3 class="modal-title" id="myLargeModalLabel">
															Maske takmak gerekli mi?
														</h3>
													</div>
													<div class="modal-body">

														<div class="description mb-20">
															<p class="mb-20" style="text-indent: 12px;">
																ABD’de yapılan bir araştırma koronavirüsün öksürükle
																6 metre, hapşırıkla da 8 metre uzağa gidebildiği
																sonucuna vardı. Maske takmanın bu nedenle salgınla
																mücadelede en az sosyal mesafe kadar etkili olduğu
																belirtiliyor. </p>
															<p class="mb-20" style="text-indent: 12px;">
																ABD’deki araştırmayı yapan ekipten
																Prof. Lydia Bourouiba, her maskenin her partikülü
																filtre edemeyeceğini fakat maskelerin genel olarak
																yüze doğru gelen bir hava kütlesini yanlara doğru
																yönelterek virüs bulaşma ihtimalini azaltabileceğini
																anlatıyor. Bu, özellikle kapalı ve havalandırması
																iyi olmayan ortamlarda başka kişilerle bir arada
																olanların virüs kapma ihtimalini azaltabilir.</p>
															<blockquote>
																<p>Birçok Kovid-19 vakasında hastalığın semptomların
																	ortaya çıkmasından önce bulaştığını fark ettik.
																	<span class="text-success">Maskeleri
																		semptomlardan önce takmak salgının
																		yayılma hızını yavaşlatabilir.</span></p>
																<small>Dünya Sağlık Örgütü<cite title="Source Title"> |
																		Profesör
																		David Heymann</cite></small>
															</blockquote>
															<h6 style="text-transform: none; font-weight: 500;">
																Maske takmanın önemini anlatan kısa bir video:
															</h6>

														</div>
														<div class="embed-responsive embed-responsive-16by9">

															<iframe class="embed-responsive-item"
																src="https://www.youtube.com/embed/woD-Db7vjeM"
																frameborder="0"
																allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
																allowfullscreen></iframe>
														</div>

														<p></p>
														<p></p>
													</div>
													<div class="modal-footer">
														<button type="button"
															class="btn btn-primary btn-outline text-left"
															data-dismiss="modal">Kapat</button>
													</div>
												</div>
												<!-- /.modal-content -->
											</div>
											<!-- /.modal-dialog -->
										</div>
										<!-- /.modal -->
										<!-- Button trigger modal -->
										<button class=" mt-10 btn btn-primary btn-outline pull-right "
											data-toggle="modal" data-target=".bs-maske-modal-lg"> Detaylı
											Bilgi

										</button>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
				<!--Model End -->

			</div>

		</div>

	</div>
	</div>



	<!-- Footer -->
	<!-- <footer class="footer container-fluid pl-30 pr-30">
		<div class="row">
			<div class="col-sm-12">
				<p>2020 &copy; Arif Avcı</p>
			</div>
		</div>
	</footer> -->
	<!-- /Footer -->

	</div>


	</div>

	<!-- JavaScript -->

	<!-- jQuery -->
	<script src="vendors/bower_components/jquery/dist/jquery.min.js"></script>

	<!-- Typed.js -->
	<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>

	<!-- Chart.js CDN-->
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>



	<!-- Bootstrap Core JavaScript -->
	<script src="vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

	<!-- Data table JavaScript -->
	<script src="vendors/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
	<script src="vendors/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
	<script src="vendors/bower_components/datatables.net-buttons/js/buttons.flash.min.js"></script>
	<script src="vendors/bower_components/jszip/dist/jszip.min.js"></script>
	<script src="vendors/bower_components/pdfmake/build/pdfmake.min.js"></script>
	<script src="vendors/bower_components/pdfmake/build/vfs_fonts.js"></script>

	<script src="vendors/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
	<script src="vendors/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
	<script src="dist/js/export-table-data.js"></script>
	<!-- Slimscroll JavaScript -->
	<script src="dist/js/jquery.slimscroll.js"></script>


	<!-- Toast JavaScript -->
	<script src="vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.js"></script>

	<!-- Progressbar Animation JavaScript -->
	<script src="vendors/bower_components/waypoints/lib/jquery.waypoints.min.js"></script>
	<script src="vendors/bower_components/jquery.counterup/jquery.counterup.min.js"></script>



	<!-- Init JavaScript -->
	<script src="dist/js/init.js"></script>
	<script src="dist/js/dashboard4-data.js"></script>

</body>

</html>
