
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default card-view">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="table-wrap">
                            <div class="table-responsive">
                                <table id="example" class="table table-hover display  pb-30">
                                    <thead>
                                        <tr>
                                            <th > GENDER </th>
                                            <th > LAST NAME </th>
                                            <th> FIRST NAME </th>
                                            <th> EMAIL</th>
                                            <th> ADRESS</th>
                                            <th> NUMBER OF CASES</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                          {% for sie_utilisateur in sie_utilisateur %}
                                          <tr >
                                              <td>{{ sie_utilisateur.UTI_CIVILITE }}</td>
                                              <td>{{ sie_utilisateur.UTI_NOM }}</td>
                                              <td>{{ sie_utilisateur.UTI_PRENOM }}</td>
                                              <td>{{ sie_utilisateur.UTI_EMAIL }}</td>
                                              <td>{{ sie_utilisateur.UTI_ADRESSE }}</td>
                                              <td>{{ sie_utilisateur.UTI_NUMBER }}</td>

                                          </tr>
                                          {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
