{% extends 'info/base.html' %}
{% load static %}



{% block title %}
<title>World Plots | Covid19</title>
{% endblock title %}

{% block content %}

<!-- Table -->
<div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
    <div class="panel card-view">
        <div class="panel-heading small-panel-heading relative">
            <div class="pull-left">
                <i class="zmdi zmdi-google-earth mr-10"></i>
                <h6 style="margin:22px 0 0 12px;display:inline-block;font-size:30px; font-weight: 700;"
                    class="panel-title">
                    Worldwide Data </h6>


            </div>
            <div class="clearfix"></div>

            <div class="head-overlay"></div>

        </div>
        <div class="panel-wrapper collapse in">
            <div class="panel-body row pa-0">
                <div class="sm-data-box">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12 pt-0 pl-4 pr-0 data-wrap-left">
                                <p>Affected Countries : <span class="counter-anim">{{country_count}}</span> </p>

                            </div>
                            <!-- <div class=" col-xs-6 text-center pl-0 pr-0 pt-0 data-wrap-right">


                                        </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default card-view pa-0">
        <div class="panel-wrapper collapse in">

            <div class="panel-body pa-0">
                <div class="sm-data-box">
                    <div class="container-fluid">
                        <div class="row ">

                            <div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left ">
                                <span class="txt-dark block counter"><span
                                        class="counter-anim text-danger">{{confirmed_total}}</span></span>
                                <span class="weight-500 capitalize-font block font-13">Total Confirmed
                                    Cases</span>
                            </div>
                            <div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
                                <i class="icon-control-rewind data-right-rep-icon txt-light-grey"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default card-view pa-0">
        <div class="panel-wrapper collapse in">

            <div class="panel-body pa-0">
                <div class="sm-data-box">
                    <div class="container-fluid">
                        <div class="row ">

                            <div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left ">
                                <span class="txt-dark block counter"><span
                                        class="counter-anim text-danger">{{deaths_total}}</span></span>
                                <span class="weight-500 capitalize-font block font-13">Total Death
                                    Cases</span>
                            </div>
                            <div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
                                <i class="icon-control-rewind data-right-rep-icon txt-light-grey"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default card-view pa-0">
        <div class="panel-wrapper collapse in">
            <div class="panel-body pa-0">
                <div class="sm-data-box">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
                                <span class="txt-dark block counter"><span
                                        class="counter-anim text-success">{{recovered_total}}</span></span>
                                <span class="weight-500 capitalize-font font-13 block">Total Recovery
                                    Cases</span>
                            </div>
                            <div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
                                <i class="icon-user-following data-right-rep-icon txt-light-grey"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default card-view pa-0">
        <div class="panel-wrapper collapse in">

            <div class="panel-body pa-0">
                <div class="sm-data-box">
                    <div class="container-fluid">
                        <div class="row ">

                            <div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left ">
                                <span class="txt-dark block counter"><span
                                        class="counter-anim text-danger">{{ mortality_rate }}</span></span>
                                <span class="weight-500 capitalize-font block font-13">Mortality rate</span>
                            </div>
                            <div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
                                <i class="icon-control-rewind data-right-rep-icon txt-light-grey"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default card-view pa-0">
        <div class="panel-wrapper collapse in">

            <div class="panel-body pa-0">
                <div class="sm-data-box">
                    <div class="container-fluid">
                        <div class="row ">
                            <div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left ">
                                <span class="txt-dark block counter"><span
                                        class="counter-anim text-success">{{ recovery_rate }}</span></span>
                                <span class="weight-500 capitalize-font block font-13">Recovery rate</span>
                            </div>
                            <div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
                                <i class="icon-control-rewind data-right-rep-icon txt-light-grey"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-9 col-md-6 col-sm-12 col-xs-12">
    <div class=" panel panel-default card-view">
        <div class="panel-heading text-center">
            <div class="pull-left">
                <h6 class="panel-title txt-dark">20 Worst hit countries</h6>
            </div>

            <span id="typed" style="font-weight: 500;font-size:17px;display: inline;"></span>

            <div class=" pull-right">

                <a href="#" class="pull-left inline-block full-screen">
                    <i class="zmdi zmdi-fullscreen"></i>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-wrapper collapse in">
                <iframe width="800" height="400" frameborder="0" scrolling="no" src="{{fig1}}"></iframe>
        </div>
    </div>
</div>

<div class="col-lg-9 col-md-6 col-sm-12 col-xs-12">
    <div class=" panel panel-default card-view">
        <div class="panel-heading text-center">
            <div class="pull-left">
                <h6 class="panel-title txt-dark">Top 10 worst affected countries (confirmed cases)</h6>
            </div>
            <span id="typed" style="font-weight: 500;font-size:17px;display: inline;"></span>

            <div class=" pull-right">

                <a href="#" class="pull-left inline-block full-screen">
                    <i class="zmdi zmdi-fullscreen"></i>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-wrapper collapse in">
                <iframe width="800" height="500" frameborder="0" scrolling="no" src="{{fig2}}"></iframe>
        </div>
    </div>
</div>

<div class="float-right col-lg-9 col-md-6 col-sm-12 col-xs-12">
    <div class=" panel panel-default card-view">
        <div class="panel-heading text-center">
            <div class="pull-left">
                <h6 class="panel-title txt-dark">Top 10 worst affected countries (deaths)</h6>
            </div>

            <span id="typed" style="font-weight: 500;font-size:17px;display: inline;"></span>

            <div class=" pull-right">

                <a href="#" class="pull-left inline-block full-screen">
                    <i class="zmdi zmdi-fullscreen"></i>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-wrapper collapse in">
                <iframe width="800" height="500" frameborder="0" scrolling="no" src="{{fig3}}"></iframe>
        </div>
    </div>
</div>

<div class="col-lg-9 col-md-6 col-sm-12 col-xs-12 float-right">
    <div class=" panel panel-default card-view">
        <div class="panel-heading text-center">
            <div class="pull-left">
                <h6 class="panel-title txt-dark">Top 10 worst affected countries (recovered)</h6>
            </div>

            <span id="typed" style="font-weight: 500;font-size:17px;display: inline;"></span>

            <div class=" pull-right">

                <a href="#" class="pull-left inline-block full-screen">
                    <i class="zmdi zmdi-fullscreen"></i>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-wrapper collapse in">
                <iframe width="800" height="500" frameborder="0" scrolling="no" src="{{fig4}}"></iframe>
        </div>
    </div>
</div>


<!-- Footer -->
<footer class="footer container-fluid pl-30 pr-30" align="center">
    <div class="row">
        <div class="col-sm-12">
            <p>2020 &copy; Mohamed EL KHATIRI</p>
        </div>
    </div>
</footer>
<!-- /Footer -->

{% endblock content %}
